body {
    font-family: Arial, sans-serif;
   }
   
   
   .chat-container {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    background-color: #e9e5e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffea00;
    width: 300px;
    overflow-y: scroll;
   }
   
   
   
   
   .chat-header {
    background-color: #fefdfb;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
   }
   
   
   .chat-header h3 {
    color: white;
    font-size: 24px;
    margin: 0;
   }
   
   
   .username-container {
    background-color: rgb(60, 54, 40);
    padding: 20px;
    display: flex;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
   }
   
   
   .username-container input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
   }
   
   
   .username-container button {
    width: 25%;
    padding: 10px;
    background-color: #432818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   
   
   .chat-window {
    background-color: #ffc300;
    height: 753px;
    padding: 20px;
    border-radius: 40px;
    overflow: scroll;
   }
   
   
   .chat-messages {
    padding: 20px;
   }
   
   
   .message-input {
    background-color: #ffc300;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   
   
   .message-input input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
   }
   
   
   .message-input button {
    width: 25%;
    padding: 10px;
    background-color: #432818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   
   
   .chat-response {
    background-color: #E0F8F7;
    width: 200px;
    height: 400px;
    float: center;
    padding: 20px;
   }
   
   
   .chat-response h4 {
    margin: 0;
   }
   
   
   
   